body{
    background-color: black;
    color:white;
    font-family: Roboto, 'Segoe UI',Arial,'Malgun Gothic',Gulim ,sans-serif;
}
.nav-link:hover{
    text-decoration: underline;
    cursor: pointer;
}
nav div{
    padding:6px;
    margin:4px;
}
.ndoc:hover{
    background-color: gray;
}
.nav-img:hover{
    background-color: rgb(18 18 19);
    border-radius: 50%;
    cursor: pointer;
}
input{
    all:unset;
    color: white;
    padding-top:5px;
    padding-bottom:5px;
}
.search-bar:hover{
    background-color: #303134;
}
.button-shape{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-top:16px;
}
.button-shape:hover{
    cursor: pointer;
}
.button-more{
    width:28px;
    height:28px;
    margin-top:4px;
    margin-bottom:4px;
    margin-right:2px;
    margin-left: 2px;
    opacity: 0;
    transition: 0.3s;
}
.button-more:hover{
    opacity: 1;
    background-color: #303134;
    border-radius: 50%;
}
.tile{
    height:112px;
    width:112px;
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
}
.tile-u{
    height:64px ;
    width:112px;
    border-radius: 3%;
    
    display:flex;
    justify-content: flex-end;
}
.tile:hover{
    background-color: rgb(18 18 19);
    cursor: pointer;
}
.tile-text{
    color:rgb(125 134 142);
    font-size: 0.8rem;
    text-align: center;
    width: 88px;
    height: 32px;
    padding-right:8px;
    padding-left:8px;
    padding-top:2px;
    padding-bottom: 2px;
    margin-top: 8px;
}
.buttons{
    display:flex;
    flex-wrap: wrap;
    width: 465px;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    z-index: -1;
    opacity: 0;
}
@media(max-width:670px){
    .search-bar{
        width:449px !important;
    }
}
@media(max-width:560px){
    .search-bar{
        width:337px !important;
    }
    .buttons{
        width:353px;
    }
}